[Unit]
Description=Run br_netfilter at Startup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/ahamxdev/rasguard/scripts/br_netfilter.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
